@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 :root {
    --primary-color: #30343F;
    --secondary-color: #96705B;
    --tertiary-color: #7AA095;
    --quaternary-color: #523500;
}

html {
    background: #05005c;
    background: linear-gradient(142deg, rgba(5, 0, 92, 1) 0%, rgba(150, 112, 91, 1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: Montserrat;
}

.contain {
    width: 1080px;
    margin: 0 auto;
    .header {
        display: flex;
        justify-content: space-around;
        padding-bottom: 5em;
        img {
            padding-left: 2em;
            padding-right: 2em;
            width: 20em;
        }
        img.reflect {
            transform: scaleX(-1);
            padding-left: 2em;
            padding-right: 2em;
            width: 20em;
        }
        h1 {
            padding-top: 1em;
        }
    }
}

img.logo {
    width: 4em;
    position: block;
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.navbar {
    // background: var(--tertiary-color);
    padding: 3em 0 2em 0;
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.2rem;
        padding: 0;
        span {
            font-size: 1.3rem;
            color: rgb(97, 155, 226);
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        padding-right: 0;
        padding-bottom: 2em;
        ul {
            display: flex;
            margin-top: 2em;
        }
        a {
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            padding: .1em 1em;
            text-decoration: none;
            &:hover {
                font-weight: bold;
            }
            &:current {
                color: #7AA095;
            }
        }
        li.sign-up-nav a {
            padding-left: 1em;
            color: white;
            border: 3px solid white;
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;
            &:hover {
                background: white;
                color: var(--tertiary-color);
            }
        }
    }
    .container {
        display: flex;
        grid-template-columns: 180px auto;
        justify-content: space-evenly;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

h2 {
    font-size: 4rem;
    color: white;
    font-weight: 600;
    span {
        font-size: 2rem;
    }
}

p {
    font-size: 1.2rem;
    color: #a6dccc;
    opacity: 0;
    transition: 400ms;
}

h4 {
    font-size: 2rem;
    color: white;
    font-weight: 400;
    padding-bottom: 0;
}

.committees {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .container1 {
        display: flex;
        flex-basis: 260px;
        align-items: center;
        padding-bottom: 10em;
        &:hover {
            p {
                opacity: 1;
            }
        }
        img {
            width: 25em;
        }
        .content1 {
            padding-left: 5em;
        }
        .content2 {
            padding-right: 5em;
        }
    }
}

.progress-section {
    position: fixed;
    right: 50px;
    top: 40%;
    width: 60px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    will-change: transform;
    transition: 0.3s ease-out;
}

.progress-bar-wrap {
    position: relative;
    width: 1px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3%;
    background-color: white;
}

@media only screen and (max-width: 1496px) {
    .navbar {
        .container {
            width: 100%;
            margin: 0 auto;
        }
        // background: var(--tertiary-color);
        padding: 3em 0 2em 0;
        .logo {
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 1rem;
            padding: 0;
            span {
                font-size: 1.3rem;
                color: rgb(97, 155, 226);
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            padding-right: 0;
            padding-bottom: 2em;
            ul {
                display: flex;
                margin-top: 2em;
            }
            a {
                color: white;
                font-size: 1rem;
                font-weight: 500;
                padding: .1em 1em;
                text-decoration: none;
                &:hover {
                    font-weight: bold;
                }
                &:current {
                    color: #7AA095;
                }
            }
            li.sign-up-nav a {
                padding-left: 1em;
                color: white;
                border: 3px solid white;
                font-weight: bold;
                border-radius: 5em;
                margin-top: -.2em;
                &:hover {
                    background: white;
                    color: var(--tertiary-color);
                }
            }
        }
        .container {
            display: flex;
            grid-template-columns: 180px auto;
            justify-content: space-evenly;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}