@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --primary-color: #05005C;
    --secondary-color: #96705B;
    --tertiary-color: #7AA095;
    --quaternary-color: #523500;
}

html {
    background: #05005c;
    background: linear-gradient(142deg, rgba(5, 0, 92, 1) 0%, rgba(150, 112, 91, 1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: Montserrat;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h3 {
    color: #8ad8d7;
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    color: #8ad8d7;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2em;
}

img.logo {
    width: 4em;
    position: block;
    margin: 0;
    padding: 0;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.navbar {
    // background: var(--tertiary-color);
    padding: 3em 0 2em 0;
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.2rem;
        padding: 0;
        span {
            font-size: 1.3rem;
            color: rgb(97, 155, 226);
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding-left: 3em;
        padding-right: 0;
        padding-bottom: 2em;
        ul {
            display: flex;
            margin-top: 2em;
        }
        a {
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            padding: .1em 1em;
            text-decoration: none;
            &:hover {
                font-weight: bold;
            }
            &:current {
                color: #7AA095;
            }
        }
        li.sign-up-nav a {
            padding-left: 1em;
            color: white;
            border: 3px solid white;
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;
            &:hover {
                background: white;
                color: var(--tertiary-color);
            }
        }
    }
    .container {
        display: flex;
        grid-template-columns: 180px auto;
        justify-content: space-evenly;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contain {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    h1 {
        color: white;
        font-weight: 400;
        font-size: 4rem;
        padding-bottom: 2rem;
    }
    h2 {
        font-size: 3rem;
        font-weight: 300;
        color: white;
        padding-bottom: .2em;
        span {
            color: var(--tertiary-color);
        }
    }
    img {
        width: 25rem;
    }
}