@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 :root {
    --primary-color: #30343F;
    --secondary-color: #96705B;
    --tertiary-color: #7AA095;
    --quaternary-color: #523500;
}

html {
    background: #05005c;
    background: linear-gradient(142deg, rgba(5, 0, 92, 1) 0%, rgba(150, 112, 91, 1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: Montserrat;
}

.contain {
    width: 1080px;
    margin: 0 auto;
}

img.logo {
    width: 4em;
    position: block;
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.navbar {
    // background: var(--tertiary-color);
    padding: 3em 0 2em 0;
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.2rem;
        padding: 0;
        span {
            font-size: 1.3rem;
            color: rgb(97, 155, 226);
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        padding-right: 0;
        padding-bottom: 2em;
        ul {
            display: flex;
            margin-top: 2em;
        }
        a {
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            padding: .1em 1em;
            text-decoration: none;
            &:hover {
                font-weight: bold;
            }
            &:current {
                color: #7AA095;
            }
        }
        li.sign-up-nav a {
            padding-left: 1em;
            color: white;
            border: 3px solid white;
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;
            &:hover {
                background: white;
                color: var(--tertiary-color);
            }
        }
    }
    .container {
        display: flex;
        grid-template-columns: 180px auto;
        justify-content: space-evenly;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contain {
    color: white;
    padding-top: 5em;
}

.heading {
    font-size: 60px;
    color: white;
}

.heading span {
    font-style: italic;
    font-size: 30px;
}

.contain {
    h2 {
        font-size: 5rem;
        font-weight: 500;
        color: var(--tertiary-color);
        padding-top: 2em;
    }
}

.profiles {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px 80px;
}

.profile {
    flex-basis: 260px;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 0em;
    transition: 400ms;
}

.row {
    display: flex;
    .title {
        padding-left: 5em;
        padding-top: 2em;
        padding-bottom: 5em;
    }
}

.profile .profile-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img {
    filter: grayscale(0);
}

.profile:hover {
    display: block;
    padding-bottom: 5em;
    h4 {
        color: var(--tertiary-color);
    }
    h5 {
        opacity: 1;
    }
    p {
        opacity: 1;
        display: block;
    }
}

.user-name {
    margin-top: 30px;
    font-size: 35px;
}

.profile h4 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    color: white;
    transition: 400ms;
}

.profile h5 {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
    transition: 400ms;
    opacity: 0;
    a {
        text-decoration: none;
        color: #ccc;
    }
}

.profile p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 20px;
    transition: 1s;
    opacity: 0;
    display: none;
}

@media only screen and (max-width: 1150px) {
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

.progress-section {
    position: fixed;
    right: 50px;
    top: 40%;
    width: 60px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    will-change: transform;
    transition: 0.3s ease-out;
}

.progress-bar-wrap {
    position: relative;
    width: 1px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: white;
}